.container {
  margin: 4rem auto 0;
  width: 80%;
  max-width: 650px;
}

.auth-choice_btn {
  position: relative;
  border: none;
  width: 150px;
  background-color: inherit;
  color: white;
  font-size: 24px;
}

.auth-choice_btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.active_btn::after {
  width: 100%;
}

.auth {
  display: none;
}

.auth-choice {
  display: flex;
  justify-content: space-around;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.auth-input {
  background-color: rgb(24, 24, 24);
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(24, 24, 24);
  padding: 10px;
  margin-top: 1rem;
  color: white;
}

.submit_btn {
  width: 100%;
  max-width: 150px;
  margin: 1rem auto;
  background-color: rgb(24, 24, 24);
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(24, 24, 24);
  padding: 10px;
  color: white;
}

.active {
  display: flex;
}

/* .active_btn {
  border-bottom: 2px solid white;
} */
