header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 1rem; */
  margin-bottom: 2rem;
  max-width: 100%;
  font-size: 22px;
}

.burger-line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav_menu {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 150px;
  background-color: black;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 10;
}

.nav_btn {
  font-size: 17px;
  margin-left: 1rem;
  background-color: inherit;
  color: white;
  border: none;
}

/* .nav_menu {
} */

.hidden {
  display: none;
}
