header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
  @media (max-width: 600px) {
    margin: 1rem 2rem;
  }
  max-width: 100%;
}

.burger-line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
