.search_input {
  background-color: rgb(24, 24, 24);
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(24, 24, 24);
  padding: 10px;
  margin-top: 2rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
