.card {
  max-width: 150px;
  max-height: 250px;
  font-size: 1rem;
  @media (max-width: 800px) {
    font-size: 12px;
  }
}

.card-image {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  @media (max-width: 800px) {
    width: 100px;
    height: 150px;
  }
}
