.movie_poster {
  width: 100%;
  max-width: 160px;
  border-radius: 10px;
  /* @media(); */
}

.movie_description {
  max-width: 700px;
  @media (max-width: 1000px) {
    max-width: 500px;
  }
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 2rem;
}
