* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: rgb(0, 0, 0);
  color: white;
  display: block;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
